<% provide :page_title, @presenter.page_title %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= media_display @presenter %>
      <%= render 'show_actions', presenter: @presenter %>
      <%= render 'single_use_links', presenter: @presenter if @presenter.editor? %>
    </div>
    <div itemscope itemtype="<%= @presenter.itemtype %>" class="col-xs-12 col-sm-8">
      <header>
        <%= render 'file_set_title', presenter: @presenter %>
      </header>

      <%# TODO: render 'show_descriptions' See https://github.com/samvera/hyrax/issues/1481 %>
      <%= render 'show_details' %>
      <%= render 'hyrax/users/activity_log', events: @presenter.events %>
    </div><!-- /columns second -->
  </div> <!-- /.row -->
</div><!-- /.container-fluid -->

<h1> Metrics Div </h1>
<script>
  const metrics_config = {
    settings: {
      base_url: 'https://metrics-api.operas-eu.org/events',
      work_uri: "urn:uuid:<%= @presenter.id %>",
      language: 'en',
      localise_country_codes: true,
      one_per_column_width: 450
    },
    downloads: {
      nav_counts: ['*'],
      graphs: {
        time_graph: {
          width: 100,
          uris: ['https://metrics.operas-eu.org/up-logs/downloads/v1']
        },
        country_table: {
          width: 30,
          uris: [
          'https://metrics.operas-eu.org/up-ga/downloads/v1',
          'https://metrics.operas-eu.org/oapen/downloads/v1'
          ]
        },
        world_map: {
          width: 70,
          hideLabel: true,
          uris: [
          'https://metrics.operas-eu.org/up-ga/downloads/v1',
          'https://metrics.operas-eu.org/oapen/downloads/v1'
          ]
        }
      }
    };
    </script>

<div id="metrics-block"></div>
<script src="https://storage.googleapis.com/operas/metrics-widget-0.0.19/widget.js"></script>
